<div class="w-full h-full flex flex-col">
    <div class="px-gutter pt-6 pb-20 bg-primary flex-none">
        <div class="flex items-center justify-between">
            <h2 class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6">
                <span @fadeInRight class="ml-4 block">Gestión de Usuario</span>
            </h2>
        </div>
    </div>

    <!-- Contenedor del formulario, con 2 columnas -->
    <div class="pt-4 overflow-hidden flex justify-center">
        <form (ngSubmit)="userUpdate()" [formGroup]="form" class="w-full max-w-xxxl px-gutter">
            <div class="flex flex-wrap -mx-4">
                <!-- Primera columna -->
                <div class="w-full md:w-1/2 px-4">
                    <mat-dialog-content>

                        <app-img-selector
                            (urlCurrentImg)="this.form.get('usImage').value"
                            (selectedImage)="selectedImage($event)"
                        >
                        </app-img-selector>
                        
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="UsNombre">
                            <mat-error *ngIf="form.get('UsNombre').hasError('required')">
                                Campo Nombre es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="UsUserName">
                            <mat-error *ngIf="form.get('UsUserName').hasError('required')">
                                Campo Username es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="UsDireccion">
                            <mat-error *ngIf="form.get('UsDireccion').hasError('required')">
                                Campo Dirección es requerido.
                            </mat-error>
                        </mat-form-field>

                        <div class="flex -mx-4">
                            <!-- Tipo de Documento -->
                            <div class="w-full md:w-1/2 px-4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Tipo de Documento</mat-label>
                                    <mat-select formControlName="usIdTipoDocumento" (selectionChange)="listDocumentTypes()">
                                        <mat-option *ngFor="let item of documentTypes" [value]="item.tdIdTipoDocumento">
                                            {{ item.tdAbreviacion }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.get('usIdTipoDocumento').hasError('required')">
                                        Campo Tipo de Documento es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        
                            <!-- Número de Documento -->
                            <div class="w-full md:w-1/2 px-4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Número Documento</mat-label>
                                    <input matInput formControlName="UsNumerodocumento">
                                    <mat-error *ngIf="form.get('UsNumerodocumento').hasError('required')">
                                        Campo Número Documento es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-dialog-content>
                </div>

                <!-- Segunda columna -->
                <div class="w-full md:w-1/2 px-4">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Estado</mat-label>
                            <input matInput formControlName="estadoDescripcion">
                            <mat-error *ngIf="form.get('estadoDescripcion').hasError('required')">
                                Campo Estado es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="usFechaNacimiento">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('usFechaNacimiento').hasError('required')">
                                Campo Fecha de Nacimiento es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-dialog-content>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>Genero</mat-label>
                                <mat-select formControlName="usIdGenero" (selectionChange)="listSexType()">
                                    <mat-option *ngFor="let item of sexTypes" [value]="item.sexoId">
                                        {{ item.sxAbreviacion }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('usIdGenero').hasError('required')">
                                    Campo Genero es requerido.
                                </mat-error>
                            </mat-form-field>
                        </mat-dialog-content>

                        <mat-dialog-content>
                            <mat-form-field appearance="outline" class="w-full">
                              <mat-label>Nueva Contraseña</mat-label>
                              <input matInput type="password" formControlName="UsPass">
                              <mat-error *ngIf="form.get('UsPass').hasError('required')">
                                Campo nueva contraseña es requerido.
                              </mat-error>
                            </mat-form-field>
                        </mat-dialog-content>

                        <mat-dialog-content *ngIf="form.get('UsPass').value">
                            <mat-form-field appearance="outline" class="w-full">
                              <mat-label>Confirmar Contraseña</mat-label>
                              <input matInput type="password" formControlName="confirmPass">
                              <mat-error *ngIf="form.get('confirmPass').hasError('required')">
                                Campo confirmar contraseña es requerido.
                              </mat-error>
                              <div *ngIf="form.hasError('passwordMismatch') && form.get('confirmPass').touched">
                                <span>Las contraseñas no coinciden.</span>
                              </div>
                            </mat-form-field>
                          </mat-dialog-content>
                          
                          
                    </mat-dialog-content>
                </div>
            </div>

            <!-- Botón de guardar -->
            <div class="flex justify-end mt-4">
                <button color="purple" class="bg-accent text-accent-contrast" mat-button type="submit" [disabled]="!form.valid">GUARDAR</button>
            </div>
        </form>
    </div>
</div>
