<form (ngSubmit)="rolSave" [formGroup]="form">
    <div mat-dialog-title class="flex justify-between">
        <h2 class="headline m-0 text-xl text-accent">
            <strong>Gestión de Sacramento</strong>
        </h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <div>
            <div fxLayout="row" fxLayoutGap="16px">
                <div fxFlex="50%">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="w-full">
                          <mat-label>Nombre</mat-label>
                          <input matInput formControlName="usNombre">
                          <mat-error *ngIf="form.get('usNombre').hasError('required')">
                            Campo nombre es requerido.
                          </mat-error>
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
                <div fxFlex="50%">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="w-full">
                          <mat-label>Username</mat-label>
                          <input matInput formControlName="usUserName">
                          <mat-error *ngIf="form.get('usUserName').hasError('required')">
                            Campo username es requerido.
                          </mat-error>
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
                <div fxFlex="40%">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Rol</mat-label>
                            <mat-select formControlName="usRolId" (selectionChange)="listRolTypes()">
                                <mat-option *ngFor="let item of rolTypes" [value]="item.roIdRol">
                                    {{ item.roNombre }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('usRolId').hasError('required')">
                                Campo Rol es requerido.
                            </mat-error>
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
            </div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>CANCELAR</button>
            <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="rolSave()">GUARDAR</button>
        </mat-dialog-actions>
    </div>
</form>
